@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #nav-menu {
      display: none;
    }
      #burger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
     section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section-pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
    #contact{
      margin-bottom: 5rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    #profile {
      min-height: 40vh;
      margin-bottom: 2rem;
    }
    article {
      font-size: 1rem;
    }
    .footer {
          width: 100%;
          flex-direction: column;
      }
      
    .footer ul li {
        display: block;
        margin: 0.5rem; 
    }
      .footer ul li {
          width: 100%;
          display: block;
      }
      .about-pic , .profile-pic{
       display: flex;
        width:90% ;
        height: 90%;
        right: 0;
        left: 0;
        margin-bottom: 2rem;
        margin: 0 auto;
      }
      .about-containers,
    .btn-container {
      flex-wrap: wrap;
    }
    #contact,
    .nav-links li a {
      font-size: 1rem;
    }
    #contact .contact-info-upper-container {
      margin-bottom: 5rem;

    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section-pic-container {
      width: auto;
      height: 40vh;
      justify-content: center;
    }
    .section-text-p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }